.canvas-alternate-design-child {
  position: absolute;
  top: 3.06rem;
  left: 5.56rem;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 74.19rem;
  height: 36.81rem;
}
.canvas1 {
  position: absolute;
  top: 8.88rem;
  left: 35.69rem;
  font-size: var(--font-size-31xl);
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 14rem;
  height: 2.94rem;
}
.canvas-alternate-design-item {
  position: absolute;
  top: -5.75rem;
  left: -27.75rem;
  border-radius: 50%;
  background: linear-gradient(179.33deg, #291f94, #4052df);
  width: 46.75rem;
  height: 55.63rem;
}
.setting_img {
  top: 0;
  left: 21.06rem;
  width: 10.19rem;
  height: 12.31rem;
}
.docs_img,
.blogs_img,
.setting_img {
  position: absolute;
  border-radius: var(--br-7xs);
  object-fit: cover;
}
.docs_img {
  top: 0;
  left: 0;
  width: 10.19rem;
  height: 12.31rem;
}
.blogs_img {
  top: 1.88rem;
  left: 8.56rem;
  width: 14.06rem;
  height: 16.19rem;
}
.builder_img {
  display: contents;
}
.buildmyflow45,
.rectangle-parent149 {
  position: absolute;
  top: 15.44rem;
  left: 26rem;
  width: 31.25rem;
  height: 18.06rem;
}
.buildmyflow45 {
  top: 4.31rem;
  left: 8.13rem;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 8.19rem;
  height: 1.06rem;
}
.canvas-alternate-design-inner {
  position: absolute;
  top: 22.06rem;
  left: 15.63rem;
  width: 8.75rem;
  height: 1.69rem;
  cursor: pointer;
}
.canvas-alternate-design-child1 {
  position: absolute;
  top: -4.94rem;
  left: 64.63rem;
  border-radius: 50%;
  background: linear-gradient(179.74deg, #3a1e76, #ac02ec);
  width: 46.75rem;
  height: 55.63rem;
}
.canvas-alternate-design-child2 {
  position: absolute;
  top: 22.06rem;
  left: 58.31rem;
  width: 8.75rem;
  height: 1.69rem;
  cursor: pointer;
}
.edit-user-settings,
.settings {
  position: absolute;
  left: 69.06rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  height: 3.38rem;
}
.settings {
  top: 21.19rem;
  font-weight: 500;
  width: 6.94rem;
}
.edit-user-settings {
  top: 23.31rem;
  font-size: var(--font-size-lg);
  width: 12.81rem;
}
.docs {
  top: 21.19rem;
  left: 7.93rem;
  font-weight: 500;
  text-align: right;
  width: 6.94rem;
}
.builder,
.blogs,
.docs,
.read-blogs,
.read-documentation {
  position: absolute;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  height: 3.38rem;
}
.read-documentation {
  top: 23.31rem;
  left: 2.25rem;
  font-size: var(--font-size-lg);
  text-align: right;
  width: 12.81rem;
}
.blogs,
.read-blogs {
  text-align: center;
  justify-content: center;
}
.blogs {
  top: 34.19rem;
  left: 38.88rem;
  font-weight: 500;
  width: 5.38rem;
}
.builder{
  display:none;
}
.read-blogs {
  top: 36.44rem;
  left: 35.54rem;
  font-size: var(--font-size-lg);
  width: 11.81rem;
}
.canvas-alternate-design {
  position: relative;
  background-color: var(--color-gray-1000);
  width: 100%;
  height: 43.63rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
