.creatornext-child24,
.creatornext-child25 {
  position: absolute;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.creatornext-child24 {
  top: 0;
  left: -0.06rem;
  width: 85.5rem;
  height: 2.88rem;
}
.creatornext-child25 {
  top: 2.81rem;
  left: -0.12rem;
  width: 85.56rem;
  height: 3.13rem;
}
.group-child141 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray);
  width: 4.5rem;
  height: 2.69rem;
}
.group-child142 {
  position: absolute;
  top: 0.82rem;
  left: 2.75rem;
  width: 0.5rem;
  height: 0.87rem;
}
.rectangle-parent10 {
  position: absolute;
  top: 33.5rem;
  left: 16.5rem;
  width: 4.5rem;
  height: 2.69rem;
}
.creatornext-child26 {
  position: absolute;
  top: 83.31rem;
  left: -0.06rem;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 74.75rem;
  height: 14.81rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.group-child143 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray);
  width: 4.94rem;
  height: 2.69rem;
}
.group-child144 {
  position: absolute;
  top: 0.82rem;
  left: 1.26rem;
  width: 0.5rem;
  height: 0.87rem;
}
.rectangle-parent11 {
  position: absolute;
  top: 33.5rem;
  left: 46.69rem;
  width: 4.94rem;
  height: 2.69rem;
}
.creatornext-child27 {
  position: absolute;
  top: 83.31rem;
  left: 14.69rem;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 75rem;
  height: 3.63rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.code-icon6,
.code-icon7 {
  position: absolute;
  top: 14rem;
  left: 11.75rem;
  width: 0.94rem;
  height: 0.94rem;
  cursor: pointer;
}
.code-icon7 {
  top: 53.13rem;
  left: 11.88rem;
}
.creatornext-child28 {
  position: absolute;
  top: 83.31rem;
  left: 49.38rem;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 77.38rem;
  height: 18.38rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangle-parent12 {
  position: absolute;
  top: 29rem;
  left: 64.88rem;
  width: 4.94rem;
  height: 2.69rem;
}
.creatornext-child29,
.creatornext-child30 {
  position: absolute;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.creatornext-child29 {
  top: 83.31rem;
  left: 67.69rem;
  width: 77.44rem;
  height: 17.75rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.creatornext-child30 {
  top: 5.88rem;
  left: -0.19rem;
  width: 85.63rem;
  height: 3.44rem;
}
.vector-icon10 {
  position: absolute;
  height: 1.28%;
  width: 1.68%;
  top: 8.4%;
  right: 44.8%;
  bottom: 90.32%;
  left: 53.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buildmyflow4,
.v10-flutter2 {
  position: absolute;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
}
.buildmyflow4 {
  top: 0.88rem;
  left: 4.38rem;
  font-size: var(--font-size-mid);
  width: 7.44rem;
  height: 1.06rem;
}
.v10-flutter2 {
  top: 1.06rem;
  left: 11.06rem;
  color: var(--color-dimgray-100);
  width: 9rem;
  height: 0.94rem;
}
.creatornext-child31 {
  position: absolute;
  top: 0.44rem;
  left: 20.48rem;
  border-right: 2px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 0.13rem;
  height: 2.13rem;
}
.project2 {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 1.75rem;
}
.export2,
.project2,
.test2 {
  top: 0;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
}
.test2 {
  position: absolute;
  left: 4.5rem;
  width: 2.38rem;
  height: 1.75rem;
}
.export2 {
  left: 7.38rem;
  width: 3.88rem;
}
.export2,
.help2,
.project-container {
  position: absolute;
  height: 1.75rem;
}
.help2 {
  top: 0;
  left: 11.25rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 2.81rem;
}
.project-container {
  top: 0.5rem;
  left: 22.56rem;
  width: 14.06rem;
}
.creatornext-child32 {
  position: absolute;
  top: 0.69rem;
  left: 68.5rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 4.13rem;
  height: 1.5rem;
}
.free2 {
  position: absolute;
  top: 0.94rem;
  left: 69.81rem;
  font-size: var(--font-size-xs);
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 2.13rem;
  height: 0.94rem;
}
.icon-donate2,
.icon-people-community2,
.icon-read-the-docs2,
.icon-user-avatar-filled2 {
  position: absolute;
  height: 1.58%;
  width: 1.54%;
  top: 0.83%;
  right: 12.15%;
  bottom: 97.6%;
  left: 86.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-donate2,
.icon-read-the-docs2,
.icon-user-avatar-filled2 {
  height: 1.5%;
  width: 1.1%;
  top: 0.9%;
  right: 9%;
  left: 89.9%;
}
.icon-donate2,
.icon-user-avatar-filled2 {
  height: 1.51%;
  width: 1.46%;
  top: 0.83%;
  right: 5.42%;
  bottom: 97.67%;
  left: 93.12%;
}
.icon-user-avatar-filled2 {
  height: 1.58%;
  width: 1.54%;
  right: 1.76%;
  bottom: 97.6%;
  left: 96.71%;
}
.buildmyflow5 {
  position: absolute;
  top: 2.94rem;
  left: 1.19rem;
  font-size: var(--font-size-mid);
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 8.75rem;
  height: 2.69rem;
}
.group-child147,
.screen-12 {
  position: absolute;
  height: 1.75rem;
}
.screen-12 {
  top: 0;
  left: 0.44rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.44rem;
}
.group-child147 {
  top: 0.06rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 5.38rem;
}
.group-child148 {
  position: absolute;
  top: 0.44rem;
  left: 3.88rem;
  width: 1rem;
  height: 1rem;
}
.screen-1-container {
  position: absolute;
  top: 3.44rem;
  left: 12.94rem;
  width: 5.38rem;
  height: 1.81rem;
  font-size: var(--font-size-xs);
}
.all-components2 {
  position: absolute;
  top: 0;
  left: 0.44rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 6.5rem;
  height: 1.78rem;
}
.group-child149 {
  position: absolute;
  top: 0.06rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 8.75rem;
  height: 1.78rem;
}
.group-child150 {
  position: absolute;
  top: 0.89rem;
  left: 7.61rem;
  width: 0.41rem;
  height: 0.24rem;
}
.all-components-container {
  position: absolute;
  top: 6.64rem;
  left: 49.88rem;
  width: 8.75rem;
  height: 1.84rem;
  font-size: var(--font-size-xs);
}
.group-child151 {
  position: absolute;
  top: 0.56rem;
  left: 5.13rem;
  width: 0.81rem;
  height: 0.69rem;
}
.group-child152 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 6.31rem;
  height: 1.75rem;
}
.copy-screen2 {
  position: absolute;
  top: 0.44rem;
  left: 0.38rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.63rem;
  height: 0.94rem;
}
.group-parent5 {
  position: absolute;
  top: 3.44rem;
  left: 29.06rem;
  width: 6.31rem;
  height: 1.75rem;
  font-size: var(--font-size-xs);
}
.group-child153 {
  position: absolute;
  top: 0.38rem;
  left: 6.13rem;
  width: 1rem;
  height: 1rem;
}
.group-child154 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 7.31rem;
  height: 1.75rem;
}
.remove-screen2 {
  position: absolute;
  top: 0.44rem;
  left: 0.31rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 5.69rem;
  height: 0.94rem;
}
.group-parent6 {
  position: absolute;
  top: 3.44rem;
  left: 37.63rem;
  width: 7.31rem;
  height: 1.75rem;
  font-size: var(--font-size-xs);
}
.group-child156 {
  position: absolute;
  top: 0.38rem;
  left: 4.88rem;
  width: 1rem;
  height: 1rem;
}
.add-screen-container {
  position: absolute;
  top: 3.5rem;
  left: 20.56rem;
  width: 6.31rem;
  height: 1.75rem;
  font-size: var(--font-size-xs);
}
.group-icon11 {
  position: absolute;
  height: 81.29%;
  width: 7.84%;
  top: 10.71%;
  right: 72.85%;
  bottom: 7.99%;
  left: 19.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child157,
.group-child158 {
  position: absolute;
  top: 0;
  left: 13.06rem;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 5.06rem;
  height: 1.75rem;
}
.group-child158 {
  left: 6.81rem;
  background-color: var(--color-slategray-200);
}
.blocks2,
.designer2 {
  position: absolute;
  top: 0.31rem;
  left: 14.31rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 2.56rem;
  height: 1.13rem;
}
.designer2 {
  left: 7.75rem;
  width: 3.25rem;
}
.group-icon12 {
  position: absolute;
  height: 83.04%;
  width: 8.03%;
  top: 10.71%;
  right: 91.97%;
  bottom: 6.25%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent7 {
  position: absolute;
  height: 2.1%;
  width: 21.23%;
  top: 4.2%;
  right: 2.2%;
  bottom: 93.7%;
  left: 76.57%;
  font-size: var(--font-size-xs);
}
.palette2,
.screen1-properties2,
.viewer2 {
  position: absolute;
  top: 6.81rem;
  left: 1.38rem;
  font-size: var(--font-size-mini);
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.69rem;
  height: 1.5rem;
}
.screen1-properties2,
.viewer2 {
  left: 19.5rem;
}
.screen1-properties2 {
  top: 6.88rem;
  left: 68.38rem;
  font-size: var(--font-size-mid);
  font-weight: 300;
  width: 9.31rem;
}
.creatornext-child33,
.creatornext-child34,
.creatornext-child35 {
  position: absolute;
  top: 5.91rem;
  left: 67.72rem;
  border-right: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 0.06rem;
  height: 4.25rem;
}
.creatornext-child34,
.creatornext-child35 {
  left: 49.41rem;
}
.creatornext-child35 {
  left: 18.28rem;
}
.group-icon13,
.group-icon14,
.vector-icon11,
.vector-icon12 {
  position: absolute;
  height: 1.52%;
  width: 1.02%;
  top: 8.27%;
  right: 21.6%;
  bottom: 90.21%;
  left: 77.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon14,
.vector-icon11,
.vector-icon12 {
  height: 1.43%;
  width: 1.32%;
  top: 8.4%;
  right: 24.67%;
  bottom: 90.17%;
  left: 74.01%;
}
.group-icon14,
.vector-icon12 {
  height: 1.58%;
  width: 1.54%;
  right: 81.19%;
  bottom: 90.02%;
  left: 17.28%;
}
.group-icon14 {
  height: 44.81%;
  width: 7.59%;
  top: 27.29%;
  right: 83.18%;
  bottom: 27.9%;
  left: 9.23%;
}
.group-child159 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 12.19rem;
  height: 2.13rem;
}
.samsung-galaxy-s92 {
  position: absolute;
  top: 0.56rem;
  left: 3.31rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 7.5rem;
  height: 1rem;
}
.group-child160 {
  position: absolute;
  top: 1.06rem;
  left: 11.11rem;
  width: 0.41rem;
  height: 0.24rem;
}
.group-parent8 {
  position: absolute;
  height: 2.55%;
  width: 14.28%;
  top: 7.73%;
  right: 53.37%;
  bottom: 89.72%;
  left: 32.36%;
  font-size: var(--font-size-xs);
}
.screenshot-monitor-icon2 {
  position: absolute;
  top: 10.25rem;
  left: 1.06rem;
  width: 1.5rem;
  height: 1.5rem;
}
.vector-icon13 {
  position: absolute;
  height: 1.8%;
  width: 1.76%;
  top: 16.35%;
  right: 97%;
  bottom: 81.85%;
  left: 1.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.camera-icon2,
.palette-icon2 {
  position: absolute;
  top: 17rem;
  left: 0.88rem;
  width: 1.88rem;
  height: 1.88rem;
}
.palette-icon2 {
  top: 20.75rem;
  left: 0.69rem;
}
.group-icon15 {
  position: absolute;
  height: 1.8%;
  width: 1.76%;
  top: 29.41%;
  right: 97.22%;
  bottom: 68.79%;
  left: 1.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.assistant-navigation-icon2 {
  position: absolute;
  top: 27.88rem;
  left: 0.69rem;
  width: 1.88rem;
  height: 1.88rem;
}
.backup-icon2,
.cases-icon2,
.connect-without-contact-icon2 {
  position: absolute;
  top: 31.63rem;
  left: 0.88rem;
  width: 1.88rem;
  height: 1.88rem;
}
.backup-icon2,
.cases-icon2 {
  top: 35.38rem;
  left: 0.69rem;
}
.cases-icon2 {
  top: 39.13rem;
  left: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
}
.code-icon8,
.hub-icon2 {
  position: absolute;
  top: 42.5rem;
  left: 0.81rem;
  width: 1.56rem;
  height: 1.56rem;
}
.hub-icon2 {
  top: 45.94rem;
  left: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
}
.vector-icon14 {
  position: absolute;
  height: 1.74%;
  width: 1.66%;
  top: 59.19%;
  right: 97.1%;
  bottom: 39.07%;
  left: 1.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.monetization-on-icon2 {
  position: absolute;
  top: 52.64rem;
  left: 0.88rem;
  width: 1.88rem;
  height: 1.88rem;
}
.send-time-extension-icon2 {
  position: absolute;
  top: 56.39rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.check-box-icon2,
.donut-large-icon2,
.radio-button-checked-icon2 {
  position: absolute;
  top: 10.38rem;
  left: 15.69rem;
  width: 1.75rem;
  height: 1.75rem;
}
.check-box-icon2,
.donut-large-icon2 {
  top: 13.5rem;
}
.donut-large-icon2 {
  top: 16.63rem;
}
.add-circle-icon2,
.art-track-icon2,
.calendar-view-day-icon2,
.model-training-icon2 {
  position: absolute;
  top: 19.75rem;
  left: 15.69rem;
  width: 1.75rem;
  height: 1.75rem;
}
.add-circle-icon2,
.art-track-icon2,
.calendar-view-day-icon2 {
  top: 22.88rem;
}
.add-circle-icon2,
.art-track-icon2 {
  top: 26rem;
}
.art-track-icon2 {
  top: 29.13rem;
}
.checklist-icon2,
.label-icon2,
.notifications-active-icon2,
.pending-icon2 {
  position: absolute;
  top: 32.25rem;
  left: 15.69rem;
  width: 1.75rem;
  height: 1.75rem;
}
.checklist-icon2,
.notifications-active-icon2,
.pending-icon2 {
  top: 35.38rem;
}
.checklist-icon2,
.notifications-active-icon2 {
  top: 38.5rem;
}
.notifications-active-icon2 {
  top: 41.63rem;
}
.drawing-and-animation2,
.layout2,
.media2,
.user-interface2 {
  position: absolute;
  top: 10.25rem;
  left: 4.44rem;
  font-size: var(--font-size-sm);
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 7.94rem;
  height: 1.75rem;
}
.drawing-and-animation2,
.layout2,
.media2 {
  top: 13.5rem;
  left: 4.38rem;
  cursor: pointer;
}
.drawing-and-animation2,
.media2 {
  top: 17.06rem;
  left: 4.44rem;
}
.drawing-and-animation2 {
  top: 20.81rem;
  width: 9.94rem;
}
.maps2 {
  top: 24.5rem;
  width: 7.94rem;
  cursor: pointer;
}
.connectivity2,
.dynamic-components2,
.extentions2,
.google2,
.maps2,
.monetization2,
.sensors2,
.social2,
.storage2,
.utilities2 {
  position: absolute;
  left: 4.44rem;
  font-size: var(--font-size-sm);
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: 1.75rem;
}
.sensors2 {
  top: 27.94rem;
  width: 9.94rem;
  cursor: pointer;
}
.connectivity2,
.dynamic-components2,
.extentions2,
.google2,
.monetization2,
.social2,
.storage2,
.utilities2 {
  width: 7.94rem;
}
.social2 {
  top: 31.69rem;
  cursor: pointer;
}
.connectivity2,
.dynamic-components2,
.extentions2,
.google2,
.monetization2,
.storage2,
.utilities2 {
  top: 35.44rem;
}
.connectivity2,
.dynamic-components2,
.extentions2,
.google2,
.monetization2,
.utilities2 {
  top: 39rem;
  cursor: pointer;
}
.connectivity2,
.dynamic-components2,
.extentions2,
.google2,
.monetization2 {
  top: 42.44rem;
  width: 9.31rem;
}
.connectivity2,
.extentions2,
.google2,
.monetization2 {
  top: 45.81rem;
  width: 7.94rem;
}
.extentions2,
.google2,
.monetization2 {
  top: 49.19rem;
}
.extentions2,
.monetization2 {
  top: 52.69rem;
}
.extentions2 {
  top: 56.25rem;
}
.image-3-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.69rem;
  height: 53.88rem;
  object-fit: cover;
}
.group-child161 {
  position: absolute;
  top: 2.94rem;
  left: 0.44rem;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-700);
  width: 23.69rem;
  height: 48.75rem;
}
.image-3-container {
  position: absolute;
  top: 10.13rem;
  left: 21.5rem;
  width: 24.69rem;
  height: 53.88rem;
}
.common-properties2 {
  position: absolute;
  top: 0.31rem;
  left: 1.44rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 8.56rem;
  height: 1.5rem;
}
.common-properties-container,
.group-child162 {
  position: absolute;
  width: 17.75rem;
  height: 2.31rem;
}
.group-child162 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.common-properties-container {
  top: 9.25rem;
  left: 67.69rem;
  color: var(--color-gray-1100);
}
.advanced-properties2 {
  position: absolute;
  top: 0.31rem;
  left: 1.44rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 8.19rem;
  height: 1.5rem;
}
.group-child164 {
  position: absolute;
  top: 1.03rem;
  left: 14.79rem;
  width: 0.41rem;
  height: 0.24rem;
}
.advanced-properties-container {
  position: absolute;
  top: 71.38rem;
  left: 67.69rem;
  width: 17.75rem;
  height: 2.31rem;
  color: var(--color-gray-1100);
}
.about-screen2 {
  position: absolute;
  top: 0.38rem;
  left: 0.69rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 5.94rem;
  height: 1.5rem;
}
.about-screen-container,
.group-child165 {
  position: absolute;
  width: 15.38rem;
  height: 2.38rem;
}
.group-child165 {
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.about-screen-container {
  top: 12.5rem;
  left: 68.88rem;
}
.title-bar-subtitle2 {
  position: absolute;
  top: 0.38rem;
  left: 0.69rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 8.38rem;
  height: 1.5rem;
}
.group-child167,
.title-bar-subtitle-container {
  position: absolute;
  width: 15.38rem;
  height: 2.38rem;
}
.title-bar-subtitle-container {
  top: 66.56rem;
  left: 68.69rem;
}
.group-child167 {
  top: 0.81rem;
  left: 0;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.group-child168,
.group-child169 {
  position: absolute;
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 11rem;
  height: 0.69rem;
}
.group-child169 {
  top: 1.5rem;
  left: 0.44rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 0.94rem;
  height: 0.94rem;
}
.about-screen-background2,
.ffffff002 {
  position: absolute;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: 1.5rem;
}
.ffffff002 {
  top: 1.13rem;
  left: 1.75rem;
  width: 5.38rem;
}
.about-screen-background2 {
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-1100);
  width: 10.81rem;
}
.group-child171,
.rectangle-parent13 {
  position: absolute;
  top: 15.31rem;
  left: 68.88rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child171 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.44rem;
  height: 0.69rem;
}
.background-colour4,
.ffffffff2 {
  position: absolute;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: 1.5rem;
}
.ffffffff2 {
  top: 1.25rem;
  left: 1.69rem;
  width: 4.88rem;
}
.background-colour4 {
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-1100);
  width: 7rem;
}
.group-child172 {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 0.94rem;
  height: 0.94rem;
}
.group-child174,
.rectangle-parent14 {
  position: absolute;
  top: 31.5rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child174 {
  top: 1.5rem;
  left: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 0.94rem;
  height: 0.94rem;
}
.background-colour5 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 6.44rem;
  height: 1.5rem;
}
.rectangle-parent15 {
  position: absolute;
  top: 42.56rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.about-this-application2 {
  position: absolute;
  top: 1.19rem;
  left: 1rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 11.06rem;
  height: 1.5rem;
}
.group-child177 {
  position: absolute;
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.25rem;
  height: 0.69rem;
}
.about-this-application-container {
  position: absolute;
  top: 20.44rem;
  left: 68.88rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child179,
.group-child180 {
  position: absolute;
  top: 1.93rem;
  left: 13.79rem;
  width: 0.41rem;
  height: 0.24rem;
}
.group-child180 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 5.44rem;
  height: 0.69rem;
}
.align-horizontal2 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 5.56rem;
  height: 1.5rem;
}
.center-3-container,
.group-child183 {
  position: absolute;
  top: 24.13rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child183 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 4.63rem;
  height: 0.69rem;
}
.center-2-container,
.group-child186 {
  position: absolute;
  top: 27.81rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child186 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 8rem;
  height: 0.69rem;
}
.close-screen-animation2 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 7.81rem;
  height: 1.5rem;
}
.default-parent4,
.group-child189 {
  position: absolute;
  top: 38.88rem;
  left: 68.88rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child189 {
  top: 0.44rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 8rem;
  height: 0.69rem;
}
.open-screen-animation2 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 7.69rem;
  height: 1.5rem;
}
.default-parent5,
.group-child192 {
  position: absolute;
  top: 46.25rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child192 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.31rem;
  height: 0.69rem;
}
.screen-orientation2 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 6.31rem;
  height: 1.5rem;
}
.group-child195,
.portrait-container {
  position: absolute;
  top: 49.94rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child195 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 1.69rem;
  height: 0.69rem;
}
.title2 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 1.75rem;
  height: 1.5rem;
}
.group-child198,
.splash-screen-container {
  position: absolute;
  top: 59.19rem;
  left: 68.69rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child198 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 7.88rem;
  height: 0.69rem;
}
.default-parent6,
.none4 {
  position: absolute;
  top: 62.88rem;
  left: 68.69rem;
  width: 15.38rem;
  height: 3.19rem;
}
.none4 {
  top: 1.19rem;
  left: 1rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 2.94rem;
  height: 1.5rem;
}
.group-child200 {
  position: absolute;
  top: 1.93rem;
  left: 9.04rem;
  width: 0.41rem;
  height: 0.24rem;
}
.cloud-download-icon4,
.group-child201 {
  position: absolute;
  top: 1.44rem;
  left: 11.19rem;
  width: 1.31rem;
  height: 1.31rem;
}
.group-child201 {
  top: 1.28rem;
  left: 10.31rem;
  border-right: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 0.06rem;
  height: 1.63rem;
}
.bubble-icon4,
.group-child202 {
  position: absolute;
  top: 1.44rem;
  left: 13.69rem;
  width: 1.25rem;
  height: 1.25rem;
}
.group-child202 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.56rem;
  height: 0.69rem;
}
.background-image2 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 6.56rem;
  height: 1.5rem;
}
.none-parent2,
.none5 {
  position: absolute;
  top: 35.19rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.none5 {
  top: 1.19rem;
  left: 1rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 2.63rem;
  height: 1.5rem;
}
.group-child206 {
  position: absolute;
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 9.38rem;
  height: 0.69rem;
}
.title-bar-typeface2 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 9.38rem;
  height: 1.5rem;
}
.none-parent3 {
  position: absolute;
  top: 78rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.about-screen-light2 {
  position: absolute;
  top: 0;
  left: 1.31rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 10.38rem;
  height: 1.5rem;
}
.group-child207 {
  position: absolute;
  top: 0.38rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 0.81rem;
  height: 0.81rem;
}
.about-screen-light-theme-container {
  position: absolute;
  top: 18.81rem;
  left: 68.88rem;
  width: 11.69rem;
  height: 1.5rem;
  font-size: var(--font-size-2xs);
}
.group-child208 {
  position: absolute;
  top: 0.38rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 0.81rem;
  height: 0.81rem;
}
.scrollable-container,
.show-option-menu-container,
.show-status-bar-container {
  position: absolute;
  top: 53.56rem;
  left: 68.88rem;
  width: 11.69rem;
  height: 1.5rem;
  font-size: var(--font-size-2xs);
}
.show-option-menu-container,
.show-status-bar-container {
  top: 55.38rem;
}
.show-status-bar-container {
  top: 57.19rem;
}
.high-quality-images-container,
.keep-screen-on-container,
.title-visible-container {
  position: absolute;
  top: 69.25rem;
  left: 69.13rem;
  width: 11.69rem;
  height: 1.5rem;
  font-size: var(--font-size-2xs);
}
.high-quality-images-container,
.keep-screen-on-container {
  top: 74.19rem;
  left: 68.88rem;
}
.keep-screen-on-container {
  top: 76rem;
}
.creatornext-child36 {
  position: absolute;
  top: 5.63rem;
  left: 0;
  background-color: var(--color-slategray-200);
  width: 85.38rem;
  height: 0.25rem;
}
.radio-icon2,
.star-half-icon2 {
  position: absolute;
  top: 44.75rem;
  left: 15.69rem;
  width: 1.75rem;
  height: 1.75rem;
}
.star-half-icon2 {
  top: 47.88rem;
  width: 1.88rem;
  height: 1.88rem;
}
.dns-icon2,
.expand-circle-down-icon2,
.highlight-icon2,
.sliders-icon2 {
  position: absolute;
  top: 51.13rem;
  left: 15.69rem;
  width: 1.88rem;
  height: 1.88rem;
}
.dns-icon2,
.expand-circle-down-icon2,
.highlight-icon2 {
  top: 54.38rem;
}
.expand-circle-down-icon2,
.highlight-icon2 {
  top: 57.63rem;
}
.highlight-icon2 {
  top: 60.88rem;
}
.border-color-icon2,
.calendar-clock-icon2,
.done-all-icon2,
.toggle-on-icon2 {
  position: absolute;
  top: 64.13rem;
  left: 15.69rem;
  width: 1.88rem;
  height: 1.88rem;
}
.border-color-icon2,
.calendar-clock-icon2,
.toggle-on-icon2 {
  top: 67.38rem;
}
.border-color-icon2,
.calendar-clock-icon2 {
  top: 70.63rem;
}
.calendar-clock-icon2 {
  top: 73.88rem;
}
.creatornext2 {
  position: relative;
  background-color: var(--color-gray-700);
  width: 100%;
  height: 83.31rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
