body{ 
    width: 100%;
    height: 100%;
    /* padding: 1px 0px; */
    background-color: #ecb5fd;
} 

.content{
    width: 100%;
    height: 100%;  
}

h1{
    padding: 2% 25%;
    font-weight: 900;
    /* font-family:; */
    font-style: italic;
    font-size: 210%;
}

.img{
    width: 70%;
    padding: 1% 15%;
}

h2{
    font-size: 200%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
}

p{
    font-size: 160%;
    font-weight: 400;
    font-style:oblique;
    
}