*{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.html,
.body {
    width: 100%;
    height: 100%;
}

.uploadedimg{
    height: 50px;
    width: 50px;
    /* float:left; */
    margin: 7px 5px 0px 5px;
    box-sizing: border-box;
}

.uploadedtext{
    height: fit-content;
    width: 77%;
    color: black;
    margin: 0;
    padding: 0;
    text-align: initial;
    left: 21%;
    position: inherit;
    top: 30%;
    font-size: smaller;
}
.interface {
  position: relative;
  background-color: var(--color-gray-700);
  width: 100%;
  height: 83.31rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
.navbar,
.sideIcons,
.secondarynavbar {
    position: absolute;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-dimgray-200);
    box-sizing: border-box;
}
.navbar {
    top: 0;
    left: -0.06rem;
    width: 85.5rem;
    height: 2.88rem;
}
.sideIcons,
.secondarynavbar {
    top: 2.81rem;
    left: -0.12rem;
    width: 85.56rem;
    height: 3.13rem;
}
.sideIcons {
    top: 9.25rem;
    left: -0.06rem;
    width: 3.69rem;
    height: 100%;
    cursor: pointer;
}
.sideIcons:hover {
    height: 14.81rem;
}
/* .userinterfaceIcon {
    position: absolute;
    top: 0.5rem;
    left: 2.06rem;
    width: 1.5rem;
    height: 1.5rem;
} */
.mediaIcon {
    position: absolute;
    top: 5px;
    left: 43%;
    width: 1.88rem;
    height: 1.88rem;
}
.expandIcon,
.expandIcon1 {
    position: absolute;
    top: 33.5rem;
    left: 16.5rem;
    border-radius: var(--br-81xl);
    width: 4.5rem;
    height: 2.69rem;
}
.expandIcon1 {
    left: 46.69rem;
    width: 4.94rem;
}
.draggedIcons,
.componentDetails {
    position: absolute;
    top: 83.31rem;
    left: 3.56rem;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-dimgray-200);
    box-sizing: border-box;
    width: 77.45rem;
    height: 14.75rem;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}
.componentDetails {
    left: 49.38rem;
    width: 77.38rem;
    height: 18.38rem;
}
.expandIcon2 {
    position: absolute;
    top: 29rem;
    left: 64.88rem;
    border-radius: var(--br-81xl);
    width: 4.94rem;
    height: 2.69rem;
}
.sideProperties,
.thirdnavbar {
    position: absolute;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-dimgray-200);
    box-sizing: border-box;
}
.sideProperties {
    top: 83.31rem;
    left: 67.69rem;
    width: 77.44rem;
    height: 17.75rem;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}
.thirdnavbar {
    top: 5.88rem;
    left: -0.19rem;
    width: 85.63rem;
    height: 3.44rem;
}
.screenVisiblity {
    position: absolute;
    height: 1.28%;
    width: 1.68%;
    top: 8.4%;
    right: 44.8%;
    bottom: 90.32%;
    left: 53.51%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logoName,
.versionName {
    position: absolute;
    top: 0.88rem;
    left: 4.38rem;
    font-size: var(--font-size-mid);
    line-height: 3.59rem;
    display: flex;
    align-items: center;
    width: 7.44rem;
    height: 1.06rem;
}
.versionName {
    top: 1.1rem;
    left: 8.6rem;
    font-size: var(--font-size-smi);
    color: var(--color-dimgray-100);
    width: 9rem;
    height: 0.94rem;
}
.blockLine {
    position: absolute;
    top: 0.44rem;
    left: 17.5rem;
    border-right: 2px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 0.13rem;
    height: 2.13rem;
}
.optionDetails {
    position: absolute;
    left: 20rem;
    width: 14rem;
    height: 1.75rem;
    top: 0.58rem;
    line-height: 3.59rem;
    display: flex;
    align-items: center; 
}
.option1, 
.option2,
.option3,
.option4 {
    position: absolute;
    top: 0;
    line-height: 3.59rem;
    display: flex;
    align-items: center;
}
.option1 {
    width: 3.88rem;
}
.option2 {
    left: 4.5rem;
    width: 2.38rem;
    height: 1.75rem;
}
.option3 {
    left: 7.38rem;
    width: 3.88rem;
}
.option4 {
    left: 11.25rem;
    width: 2.81rem;
}
.planStatus {
    position: absolute;
    top: 0.69rem;
    left: 68.5rem;
    border-radius: var(--br-8xs);
    border: 1px solid var(--color-dimgray-200);
    box-sizing: border-box;
    width: 4.13rem;
    height: 1.5rem;
}
.planTxt {
    position: absolute;
    top: 0.94rem;
    left: 69.81rem;
    font-size: var(--font-size-xs);
    line-height: 3.59rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 2.13rem;
    height: 0.94rem;
}
.communityIcon,
.docsIcon,
.donationIcon,
.profileIcon {
    position: absolute;
    height: 1.58%;
    width: 1.54%;
    top: 0.83%;
    right: 12.15%;
    bottom: 97.6%;
    left: 86.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.docsIcon,
.donationIcon,
.profileIcon {
    height: 1.5%;
    width: 1.1%;
    top: 0.9%;
    right: 9%;
    left: 89.9%;
}
.donationIcon,
.profileIcon {
    height: 1.51%;
    width: 1.46%;
    top: 0.83%;
    right: 5.42%;
    bottom: 97.67%;
    left: 93.12%;
}
.profileIcon {
    height: 1.58%;
    width: 1.54%;
    right: 1.76%;
    bottom: 97.6%;
    left: 96.71%;
}
.screenSelector {
    position: absolute;
    top: 3.44rem;
    left: 12.94rem;
    border-radius: var(--br-11xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 5.38rem;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-5xs) 0 var(--padding-6xs);
    align-items: center;
    justify-content: flex-end;
    font-size: var(--font-size-xs);
}
.projectName,
.screenTxt {
    line-height: 3.59rem;
    display: flex;
    align-items: center; 
}
.projectName {
    position: absolute;
    top: 2.94rem;
    left: 1.19rem;
    font-size: var(--font-size-mid);
    width: 8.75rem;
    height: 2.69rem;
}
.screenTxt {
    position: absolute;
    width: 4.44rem;
    height: 1.75rem;
    background-color: var(--color-gray-900);
    outline: none;
    border: none;
    color: aliceblue;
    display: flex;
    left: 1rem;
}
.dropdown {
    position: absolute;
    top: 3.44rem;
    left: 10.94rem;
    border-radius: var(--br-11xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 6.38rem;
    height: 1.95rem;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-5xs) 0 var(--padding-6xs);
    align-items: center;
    justify-content: flex-end;
    font-size: var(--font-size-xs);
}
.dropdown-content,
.align-content,
.alignvertical-content {
    display: none;
    position: absolute;
    background-color: var(--color-dimgray-100);
    min-width: 6.28rem;
    top: 1.91rem;
    left: 0.1rem;
}
.dropdown-content a,
.align-content button,
.alignvertical-content button {
    color:aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: var(--font-size-smi);
}
.align-content button 
.alignvertical-content button {
    background-color: transparent;
    outline: none;
    border: none;
}
.dropdown-content a:hover,
.align-content button:hover,
.alignvertical-content button:hover {
    background-color: var(--color-darkslategray);
}
.dropdown:hover .dropdown-content,
.alignHorizontal:hover .align-content,
.alignvertical:hover .alignvertical-content {
    display: block;
}
.allcomponents {
    position: absolute;
    top: 0.74rem;
    left: 1rem;
    border-radius: var(--br-11xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 8.75rem;
    height: 1.78rem;
    display: flex;
    flex-direction: row;
    padding: 0 0.42rem;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-sm);
    font-size: var(--font-size-xs);
}
.componentTxt {
    position: absolute;
    width: 8.44rem;
    height: 1.4rem;
    background-color: var(--color-gray-900);
    outline: none;
    border: none;
    color: aliceblue;
    display: flex;
    left: 0rem;
    top: 0.2rem;
    justify-content: center;
}
.component-content {
    display: none;
    position: absolute;
    background-color: var(--color-dimgray-100);
    min-width: 6.28rem;
    top: 1.75rem;
    left: 0.1rem;
}
.component-content a {
    color:aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.component-content a:hover {
    background-color: var(--color-darkslategray);
}
.allcomponents:hover .component-content {
    display: block;
}
.componentSection {
    position: absolute;
    top: 5.86rem;
    left: 49.38rem;
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 18.35rem;
    height: 3.48rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.copyScreen {
    position: absolute;
    top: 3.44rem;
    left: 26.56rem;
    border-radius: var(--br-11xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 8.61rem;
    height: 1.95rem;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-7xs) var(--padding-6xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xs);
    font-size: var(--font-size-xs);
}
.copyscreenBtn {
    position: absolute;
    width: 7.24rem;
    height: 1.4rem;
    background-color: var(--color-gray-900);
    outline: none;
    border: none;
    color: aliceblue;
    display: flex;
    left: 0rem;
    top: 0.3rem;
    justify-content: center;
}
.copyIcon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 7.0rem;
    top: 0.3rem;
}
.removeScreen {
    position: absolute;
    top: 3.44rem;
    left: 35.53rem;
    border-radius: var(--br-11xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 8.61rem;
    height: 1.95rem;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-7xs) var(--padding-6xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xs);
    font-size: var(--font-size-xs);
}
.removeScreenBtn{
    position: absolute;
    width: 7.24rem;
    height: 1.4rem;
    background-color: var(--color-gray-900);
    outline: none;
    border: none;
    color: aliceblue;
    display: flex;
    left: 0rem;
    top: 0.3rem;
    justify-content: center;
}
.removeIcon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 7.2rem;
    top: 0.3rem;
}
.addScreen {
    position: absolute;
    top: 3.44rem;
    left: 17.63rem;
    border-radius: var(--br-11xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 8.61rem;
    height: 1.95rem;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-7xs) var(--padding-6xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xs);
    font-size: var(--font-size-xs);
}
.addScreenBtn {
    position: absolute;
    width: 7.24rem;
    height: 1.4rem;
    background-color: var(--color-gray-900);
    outline: none;
    border: none;
    color: aliceblue;
    display: flex;
    left: 0rem;
    top: 0.3rem;
    justify-content: center;
}
.addIcon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: 6.6rem;
    top: 0.3rem;
}
.secondarynavbtn {
    position: absolute;
    top: 3.5rem;
    left: 65.38rem;
    width: 18.13rem;
    height: 1.75rem;
    font-size: var(--font-size-xs);
}
.assets {
    background-color: transparent;
    width: 9%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}
.assetsIcon {
    position: absolute;
    height: 83.04%;
    width: 8.03%;
    top: 10.71%;
    right: 91.97%;
    bottom: 6.25%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.settingIcon {
    position: absolute;
    height: 81.29%;
    width: 7.84%;
    top: 10.71%;
    right: 72.85%;
    bottom: 7.99%;
    left: 19.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.designBtn,
.blocksBtn {
    position: absolute;
    top: 0;
    left: 13.06rem;
    border-radius: var(--br-10xs);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 5.06rem;
    height: 1.75rem;
    color: aliceblue;
    font-family: var(--font-lexend-deca);
}
.designBtn {
    left: 6.81rem;
    background-color: var(--color-slategray-200);
    cursor: pointer;
}
.blocksBtn {
    background-color: var(--color-gray-900);
    cursor: pointer;
}
.paletteTxt {
    position: absolute;
    top: 0.8rem;
    left: 1.38rem;
    font-size: var(--font-size-mini);
    line-height: 3.59rem;
    display: flex;
    align-items: center;
    width: 4.69rem;
    height: 1.5rem;
}
.paletteSection {
    position: absolute;
    top: 5.86rem;
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 18.3rem;
    height: 3.48rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.searchIcon {
    position: absolute;
    height: 1rem;
    width: 1.6rem;
    left: 15rem;
}
.viewerSection {
    position: absolute;
    top: 5.86rem;
    left: 18.24rem;
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 31.2rem;
    height: 3.48rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.viewerTxt {
    position: absolute;
    top: 0.8rem;
    left: 1.38rem;
    font-size: var(--font-size-mini);
    line-height: 3.59rem;
    display: flex;
    align-items: center;
    width: 4.69rem;
    height: 1.5rem;
}
.screenSection {
    position: absolute;
    left: 9rem;
    border: 1px solid var(--color-dimgray-200);
    box-sizing: border-box;
    width: 13.19rem;
    height: 2.13rem;
    font-size: var(--font-size-xs);
}
.allscreens {
    position: absolute;
    top: 0.13rem;
    left: 1rem;
    border-radius: var(--br-11xs);
    box-sizing: border-box;
    width: 10.8rem;
    height: 1.78rem;
    display: flex;
    flex-direction: row;
    padding: 0 0.42rem;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-sm);
    font-size: var(--font-size-xs);
}
.allscreenTxt {
    position: absolute;
    width: 9.44rem;
    height: 1.75rem;
    background-color: var(--color-gray-900);
    outline: none;
    border: none;
    color: aliceblue;
    display: flex;
    left: 1.99rem;
    top: -5%;
    align-items: center;
    font-family: var(--font-lexend-deca);
}
.alignscreenTxt {
    position: absolute;
    width: 9.44rem;
    height: 1.75rem;
    background-color: var(--color-gray-900);
    outline: none;
    border: none;
    color: aliceblue;
    display: flex;
    left: 1.99rem;
    top: 6%;
    align-items: center;
    font-family: var(--font-lexend-deca);
}
.screen-content {
    display: none;
    position: absolute;
    background-color: var(--color-dimgray-100);
    width: 8.28rem;
    top: 1.75rem;
    left: 2.1rem;
}
.screen-content a {
    color:aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.screen-content a:hover {
    background-color: var(--color-darkslategray);
}
.allscreens:hover .screen-content {
    display: block;
}
.deviceIcon{
    position: absolute;
    height: 1rem;
    width: 1.6rem;
    left: 0rem;
}
.stationaryIcons {
    position: absolute;
    top: 11.09%;
    width: 3.69rem;
    height: 100%;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-dimgray-200);
}
.draggableScreen {
    position: absolute;
    top: 10.01%;
    left: 3.52rem;
    width: 14.81rem;
    height: 100%;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-dimgray-200);
    padding: 10px 10px 10px 10px;
}
.buttonIcon {
    position: absolute;
    top: 0.3rem;
    left: 0.95rem;
    width: 1.5rem;
    height: 1.5rem;
}
.buttonTxt {
    position: absolute;
    width: 10rem;
    height: fit-content;
    top: 0.5rem;
    left: 3.0rem;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-lexend-deca);
    font-weight: 400;
}
.button,
.checkbox,
.circularProgress,
.customProgress,
.datePicker,
.floatingActionbutton,
.Image,
.Label,
.LinearProgressbar,
.Listpicker,
.Notifier,
.RatingBar,
.Slider,
.Snackbar,
.Spinner,
.Spotlight,
.StateProgressBar,
.Switch,
.TextBox,
.TimePicker {
    position: absolute;
    /* top: 0.5rem; */
    height: 2.4rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    left: 3%;
}
.checkbox {
    top: 3.5rem;
}
.circularProgress {
    top: 6.5rem;
}
.customProgress {
    top: 9.5rem;
}
.datePicker { 
    top: 12.5rem;
}
.floatingActionbutton {
    top: 15.5rem;
}
.Image {
    top: 18.5rem;
}
.Label {
    top: 21.5rem;
}
.LinearProgressbar {
    top: 24.5rem;
}
.Listpicker {
    top: 27.5rem;
}
.Notifier {
    top: 30.5rem;
}
.RatingBar {
    top: 33.5rem;
}
.Slider {
    top: 36.5rem;
}
.Snackbar {
    top: 39.5rem;
}
.Spinner {
    top: 42.5rem;
}
.Spotlight {
    top: 45.5rem;
}
.StateProgressBar {
    top: 48.5rem;
}
.Switch {
    top: 51.5rem;
}
.TextBox {
    top: 54.5rem;
}
.TimePicker {
    top: 57.5rem;
}
.canvas {
    position: absolute;
    width: 32%;
    height: 70%;
    top: 15%;
    left: 24%;
}
.screen {
    position: relative;
    margin: 1px 1px 1px 1px;
}
.drop-target {
    position: absolute;
    background-color: var(--color-gray-900);
    width: 96%;
    top: 0%;
    margin: 52px 0px 0px 8.4px;
    height: 90%;
    border-radius: 33px;
    display: flex;
    align-items: center;
}
.componentClass {
    position: absolute;
    top: 11.09%;
    left: 58.5%;
    width: 21.76%;
    height: 100%;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-dimgray-200);
}
.edit,
.del {
    position: absolute;
    width: auto;
    height: fit-content;
    top: 0%;
    right: 24.67%;
    bottom: 90.17%;
    left: 139.01%;
}
.del {
    left: 170%;
}
.screenProperties {
    position: absolute;
    top: 11.09%;
    left: 80.19%;
    width: 21.76%;
    height: 100%;
    background-color: var(--color-gray-900);
    border: 1px solid var(--color-dimgray-200);
}
.commonproperties {
    position: absolute;
    border: 1px solid var(--color-dimgray-200);
    width: 100%;
    height: 2.6%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--padding-8xs) var(--padding-4xl);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-smi);
    color: var(--color-gray-1100);
}
.aboutScreen {
    position: absolute;
    top: 4%;
    left: 3%;
    border-radius: var(--br-10xs);
    border: 1px solid var(--color-dimgray-200);
    box-sizing: border-box;
    width: 15.38rem;
    height: 2.38rem;
    display: flex;
    flex-direction: column;
    padding: var(--padding-7xs) var(--padding-2xs);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-smi);
    background-color: transparent;
    color: aliceblue;
}
.displayIcons {
    position: absolute;
    left: 0%;
}
.userInterface,
.layout,
.media,
.drawingAnimation,
.maps,
.sensors,
.socials,
.storage,
.utilities,
.dynamic,
.connectivity,
.google,
.monetization,
.extensions {
    left: -59px;
    height: 3.8%;
    width: 70px;
    position: relative;
    border-radius: 23px;
}
.userInterfaceContent:hover{ 
    background-color: var(--color-darkslategray);
    border-radius: 23px;
}
.layout[open]{
 margin-bottom: 148px;
}
.layout {
    top: 0.6%;
}
.media{
    top: 1.2%;
}
.drawingAnimation {
    top: 1.8%;
}
.maps {
    top: 2.4%;
}
.sensors {
    top: 3.0%;
}
.socials {
    top: 3.6%;
}
.storage {
    top: 4.2%;
}
.utilities {
    top: 4.8%;
}
.dynamic {
    top: 5.4%;
}
.connectivity {
    top: 6.0%;
}
.google {
    top: 6.6%;
}
.monetization {
    top: 7.2%;
}
.monetization[open]{
    margin-bottom: 69px;
}
.monetizationContent {
    position: absolute;
    width: 6%;
    height: 39px;
    /* top: 2.95rem; */
    left: 0.1rem;
}
.monetizationContent a {
    font-family: var(--font-lexend-deca);
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.monetizationContent a:hover {
    width: 9rem;
    border-radius: var(--br-81xl);
    background-color: var(--color-darkslategray);
}
.extensions {
    top: 7.8%;
}
.userInterfaceContent {
    list-style: none;
    top: 0.4%;
    left: 0%;
}
.userInterfaceIcon {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    left: 31px;
    top: 13px;
}
.layoutContentIcon {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    margin: 2px 2px 2px 2px;
}
.monetizationContentIcon {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    margin: 2px 2px 2px 2px;
}
.layoutContent {
    position: absolute;
    width: 6%;
    height: 39px;
    /* top: 2.95rem; */
    left: 0.1rem;
}
.layoutContent a {
    font-family: var(--font-lexend-deca);
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.layoutContent a:hover {
    width: 9rem;
    border-radius: var(--br-81xl);
    background-color: var(--color-darkslategray);
}
.aboutScreen,
.colorpicker,
.aboutScreentitle,
.alignHorizontal,
.alignvertical,
.bgcolorpicker,
.bgImage {
    border: 1px solid var(--color-dimgray-200);
    position: relative;
    border-radius: 5px;
    width: 85%;
    height: 3%;
    left: 10px;
}
.colorpicker {
    top: 5.7%;
}
.aboutScreentitle {
    top: 7.7%;
}
.alignHorizontal {
    top: 9.7%;
}
.alignvertical {
    top: 11.7%;
}
.bgcolorpicker {
    top: 13.7%;
}
.bgImage {
    top: 15.7%;
}
.label,
.screenlabel{
    position: absolute;
    top: 7px;
    left: 18px;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    color: #fff;
    transition: all 0.5s ease-in-out;
}
.imagelabel,
.colorpickerlabel,
.alignTxt {
    position: absolute;
    top: -9px;
    left: 18px;
    width: fit-content;
    height: fit-content;
    font-size: var(--font-size-2xs);
    color: var(--color-gray-1100);
    background-color: var(--color-gray-900);
}
.aboutScreenTxt,
.screenlabelTxt {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 0 5px 0;
    background: transparent;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-size: var(--font-size-sm);
    font-family: var(--font-lexend-deca);
}
.color {
    position: relative;
    top: 6px;
    left: 0.44rem;
    border-radius: 50%;
    background-color: transparent;
    width: 8%;
    height: 53%;
}
.hexcolor {
    position: relative;
    top: 7px;
    left: 9px;
    font-family: var(--font-lexend-deca);
}
.uploadingContent {
    display: none;
    position: absolute;
    background-color: var(--color-gray-400);
    width: 50%;
    height: 40%;
    margin: 6% 25% 12% 25%;
    border-radius: 1%;
}
.assetsTxt {
    position: relative;
    font-family: var(--font-lexend-deca);
    color: var(--color-blueviolet);
    margin: 4% 4%;
    font-size: var(--font-size-mini);
    width: fit-content;
    height: fit-content;
}
.informationBlock {
    position: inherit;
    background-color: #c9e9ff;
    width: 45%;
    height: 23%;
    border-radius: 1%;
    margin: 16% 5%;
    top: 0px;
}
.informationBlockTxt,
.informationBlockTxtLink {
    font-family: var(--font-lexend-deca);
    font-size: var(--font-size-sm);
    color: var(--color-darkslategray);
    font-weight: 400;
    margin: 13px;
    text-align: initial;
    width: auto;
    height: fit-content;
}
.informationBlockTxtLink {
    position: relative;
    top: 2%;
    color: blueviolet;
    font-weight: 300;
}
.preview {
    background-color: #c9e9ff;
    position: absolute;
    width: 47%;
    height: 44.5%;
    left: 51%;
    top: 20%;
    border-radius: 2%;
    border-style: solid;
    border-color: black;
    object-fit: fill;
    cursor: pointer;
}
.previewTxt {
    position: absolute;
    font-family: var(--font-lexend-deca);
    left: 63%;
    width: fit-content;
    color: blueviolet;
    font-size: var(--gap-sm);
    height: fit-content;
    top: 54%;
}
.AssetsUpload {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 14px;
    top: 6.55px;
}
.AssetsUploadBtn {
    position: absolute;
    width: 43%;
    height: 7%;
    left: 53%;
    margin-top: 58%;
    color: blueviolet;
    border-color: blueviolet;
    cursor: pointer;
}
.AssetsUploadBtn:hover {
    color: #c9e9ff;
    border-color: #c9e9ff;
    background-color: cadetblue;
}
.close {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 93%;
    top: 4%;
    cursor: pointer;
}
.uploadedfiles {
    position: absolute;
    width: 48%;
    height: 46%;
    margin-top: 38%;
    margin-left: 2%;
    overflow-y: scroll;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    height: 24%;
    border: 1px solid blueviolet;
    padding: 10px;
    left: 2%;
    top: 3%;
    position: absolute;
    cursor: pointer;
}
.box:first-child {
    margin-top: 0;
  }
.box img {
    width: 15%;
    height: 43%;
    position: absolute;
    left: 0%;
}
.box .text {
    margin-top: 10px;
    color: #69008d;
    left: 0%;
    position: relative;
    width: 85%;
    height: fit-content;
}
.imagesUploaded {
    list-style-type: none;
}
.new-box {
    margin-bottom: 20px;
}
.userInterfaceContentTxt {
    font-family: var(--font-lexend-deca);
    font-size: var(--font-size-mini);
    position: absolute;
    font-weight: 400;
    width: 260%;
    height: fit-content;
    left: 106%;
    top: 29.2%;
    cursor: pointer;
}
.material-symbols-outlined {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 24%;
    left: 309%;
}
/* #removeIcon {
    display: none;
} */
.clearAll {
    position: absolute;
    left: 70%;
    top: 90%;
    width: 21%;
    height: 6%;
    background: blue;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}
.clearAllTxt {
    font-family: var(--font-lexend-deca);
    width: fit-content;
    height: fit-content;
}
.removeAll:hover {
    background-color: var(--color-darkslategray);
}
.box:hover {
    background-color: #c9e9ff;
}