.maps-child,
.maps-inner,
.maps-item {
  position: absolute;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.maps-child {
  top: 0;
  left: -0.06rem;
  width: 85.5rem;
  height: 2.88rem;
}
.maps-inner,
.maps-item {
  top: 2.81rem;
  left: -0.12rem;
  width: 85.56rem;
  height: 3.13rem;
}
.maps-inner {
  top: 83.31rem;
  left: -0.06rem;
  width: 74.75rem;
  height: 3.69rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.group-child1163 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray);
  width: 4.5rem;
  height: 2.69rem;
}
.group-child1164 {
  position: absolute;
  top: 0.82rem;
  left: 2.75rem;
  width: 0.5rem;
  height: 0.87rem;
}
.rectangle-parent94 {
  position: absolute;
  top: 33.5rem;
  left: 16.5rem;
  width: 4.5rem;
  height: 2.69rem;
}
.group-child1165 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray);
  width: 4.94rem;
  height: 2.69rem;
}
.group-child1166 {
  position: absolute;
  top: 0.82rem;
  left: 1.26rem;
  width: 0.5rem;
  height: 0.87rem;
}
.rectangle-parent95 {
  position: absolute;
  top: 33.5rem;
  left: 46.69rem;
  width: 4.94rem;
  height: 2.69rem;
}
.maps-child1,
.maps-child2 {
  position: absolute;
  top: 83.31rem;
  left: 3.56rem;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 75rem;
  height: 14.75rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.maps-child2 {
  left: 49.38rem;
  width: 77.38rem;
  height: 18.38rem;
}
.rectangle-parent96 {
  position: absolute;
  top: 29rem;
  left: 64.88rem;
  width: 4.94rem;
  height: 2.69rem;
}
.maps-child3,
.maps-child4 {
  position: absolute;
  background-color: var(--color-gray-900);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.maps-child3 {
  top: 83.31rem;
  left: 67.69rem;
  width: 77.44rem;
  height: 17.75rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.maps-child4 {
  top: 5.88rem;
  left: -0.19rem;
  width: 85.63rem;
  height: 3.44rem;
}
.vector-icon77 {
  position: absolute;
  height: 1.28%;
  width: 1.68%;
  top: 8.4%;
  right: 44.8%;
  bottom: 90.32%;
  left: 53.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buildmyflow32,
.v10-flutter16 {
  position: absolute;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
}
.buildmyflow32 {
  top: 0.88rem;
  left: 4.38rem;
  font-size: var(--font-size-mid);
  width: 7.44rem;
  height: 1.06rem;
}
.v10-flutter16 {
  top: 1.06rem;
  left: 11.06rem;
  color: var(--color-dimgray-100);
  width: 9rem;
  height: 0.94rem;
}
.maps-child5 {
  position: absolute;
  top: 0.44rem;
  left: 20.48rem;
  border-right: 2px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 0.13rem;
  height: 2.13rem;
}
.export16,
.help16,
.project16,
.test16 {
  position: absolute;
  top: 0;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  height: 1.75rem;
}
.project16 {
  left: 0;
  width: 4rem;
}
.export16,
.help16,
.test16 {
  left: 4.5rem;
  width: 2.38rem;
}
.export16,
.help16 {
  left: 7.38rem;
  width: 3.88rem;
}
.help16 {
  left: 11.25rem;
  width: 2.81rem;
}
.maps-child6,
.project-parent14 {
  position: absolute;
  top: 0.5rem;
  left: 22.56rem;
  width: 14.06rem;
  height: 1.75rem;
}
.maps-child6 {
  top: 0.69rem;
  left: 68.5rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 4.13rem;
  height: 1.5rem;
}
.free16 {
  position: absolute;
  top: 0.94rem;
  left: 69.81rem;
  font-size: var(--font-size-xs);
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 2.13rem;
  height: 0.94rem;
}
.icon-donate16,
.icon-people-community16,
.icon-read-the-docs16,
.icon-user-avatar-filled16 {
  position: absolute;
  height: 1.58%;
  width: 1.54%;
  top: 0.83%;
  right: 12.15%;
  bottom: 97.6%;
  left: 86.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-donate16,
.icon-read-the-docs16,
.icon-user-avatar-filled16 {
  height: 1.5%;
  width: 1.1%;
  top: 0.9%;
  right: 9%;
  left: 89.9%;
}
.icon-donate16,
.icon-user-avatar-filled16 {
  height: 1.51%;
  width: 1.46%;
  top: 0.83%;
  right: 5.42%;
  bottom: 97.67%;
  left: 93.12%;
}
.icon-user-avatar-filled16 {
  height: 1.58%;
  width: 1.54%;
  right: 1.76%;
  bottom: 97.6%;
  left: 96.71%;
}
.buildmyflow33 {
  position: absolute;
  top: 2.94rem;
  left: 1.19rem;
  font-size: var(--font-size-mid);
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 8.75rem;
  height: 2.69rem;
}
.group-child1169,
.screen-116 {
  position: absolute;
  height: 1.75rem;
}
.screen-116 {
  top: 0;
  left: 0.44rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.44rem;
}
.group-child1169 {
  top: 0.06rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 5.38rem;
}
.group-child1170 {
  position: absolute;
  top: 0.44rem;
  left: 3.88rem;
  width: 1rem;
  height: 1rem;
}
.screen-1-parent14 {
  position: absolute;
  top: 3.44rem;
  left: 12.94rem;
  width: 5.38rem;
  height: 1.81rem;
  font-size: var(--font-size-xs);
}
.all-components16 {
  position: absolute;
  top: 0;
  left: 0.44rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 6.5rem;
  height: 1.78rem;
}
.group-child1171 {
  position: absolute;
  top: 0.06rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 8.75rem;
  height: 1.78rem;
}
.group-child1172 {
  position: absolute;
  top: 0.89rem;
  left: 7.61rem;
  width: 0.41rem;
  height: 0.24rem;
}
.all-components-parent14 {
  position: absolute;
  top: 6.64rem;
  left: 49.88rem;
  width: 8.75rem;
  height: 1.84rem;
  font-size: var(--font-size-xs);
}
.group-child1173 {
  position: absolute;
  top: 0.56rem;
  left: 5.13rem;
  width: 0.81rem;
  height: 0.69rem;
}
.group-child1174 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 6.31rem;
  height: 1.75rem;
}
.copy-screen16 {
  position: absolute;
  top: 0.44rem;
  left: 0.38rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.63rem;
  height: 0.94rem;
}
.group-parent61 {
  position: absolute;
  top: 3.44rem;
  left: 29.06rem;
  width: 6.31rem;
  height: 1.75rem;
  font-size: var(--font-size-xs);
}
.group-child1175 {
  position: absolute;
  top: 0.38rem;
  left: 6.13rem;
  width: 1rem;
  height: 1rem;
}
.group-child1176 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 7.31rem;
  height: 1.75rem;
}
.remove-screen16 {
  position: absolute;
  top: 0.44rem;
  left: 0.31rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 5.69rem;
  height: 0.94rem;
}
.group-parent62 {
  position: absolute;
  top: 3.44rem;
  left: 37.63rem;
  width: 7.31rem;
  height: 1.75rem;
  font-size: var(--font-size-xs);
}
.group-child1178 {
  position: absolute;
  top: 0.38rem;
  left: 4.88rem;
  width: 1rem;
  height: 1rem;
}
.add-screen-parent14 {
  position: absolute;
  top: 3.5rem;
  left: 20.56rem;
  width: 6.31rem;
  height: 1.75rem;
  font-size: var(--font-size-xs);
}
.group-icon81 {
  position: absolute;
  height: 81.3%;
  width: 7.84%;
  top: 10.71%;
  right: 72.85%;
  bottom: 7.99%;
  left: 19.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child1179,
.group-child1180 {
  position: absolute;
  top: 0;
  left: 13.06rem;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 5.06rem;
  height: 1.75rem;
}
.group-child1180 {
  left: 6.81rem;
  background-color: var(--color-slategray-200);
}
.blocks16,
.designer16 {
  position: absolute;
  top: 0.31rem;
  left: 14.31rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 2.56rem;
  height: 1.13rem;
}
.designer16 {
  left: 7.75rem;
  width: 3.25rem;
}
.group-icon82 {
  position: absolute;
  height: 83.04%;
  width: 8.03%;
  top: 10.71%;
  right: 91.97%;
  bottom: 6.25%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent63 {
  position: absolute;
  height: 2.1%;
  width: 21.23%;
  top: 4.2%;
  right: 2.2%;
  bottom: 93.7%;
  left: 76.57%;
  font-size: var(--font-size-xs);
}
.palette16,
.screen1-properties16,
.viewer16 {
  position: absolute;
  top: 6.81rem;
  left: 1.38rem;
  font-size: var(--font-size-mini);
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.69rem;
  height: 1.5rem;
}
.screen1-properties16,
.viewer16 {
  left: 19.5rem;
}
.screen1-properties16 {
  top: 6.88rem;
  left: 68.38rem;
  font-size: var(--font-size-mid);
  font-weight: 300;
  width: 9.31rem;
}
.maps-child7,
.maps-child8,
.maps-child9 {
  position: absolute;
  top: 5.91rem;
  left: 67.72rem;
  border-right: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 0.06rem;
  height: 4.25rem;
}
.maps-child8,
.maps-child9 {
  left: 49.41rem;
}
.maps-child9 {
  left: 18.28rem;
}
.group-icon83,
.group-icon84,
.vector-icon78,
.vector-icon79 {
  position: absolute;
  height: 1.52%;
  width: 1.02%;
  top: 8.27%;
  right: 21.6%;
  bottom: 90.21%;
  left: 77.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon84,
.vector-icon78,
.vector-icon79 {
  height: 1.43%;
  width: 1.32%;
  top: 8.4%;
  right: 24.67%;
  bottom: 90.17%;
  left: 74.01%;
}
.group-icon84,
.vector-icon79 {
  height: 1.58%;
  width: 1.54%;
  right: 81.19%;
  bottom: 90.02%;
  left: 17.28%;
}
.group-icon84 {
  height: 44.8%;
  width: 7.59%;
  top: 27.29%;
  right: 83.18%;
  bottom: 27.9%;
  left: 9.23%;
}
.group-child1181 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 12.19rem;
  height: 2.13rem;
}
.samsung-galaxy-s916 {
  position: absolute;
  top: 0.56rem;
  left: 3.31rem;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 7.5rem;
  height: 1rem;
}
.group-child1182 {
  position: absolute;
  top: 1.06rem;
  left: 11.11rem;
  width: 0.41rem;
  height: 0.24rem;
}
.group-parent64 {
  position: absolute;
  height: 2.55%;
  width: 14.28%;
  top: 7.73%;
  right: 53.37%;
  bottom: 89.72%;
  left: 32.36%;
  font-size: var(--font-size-xs);
}
.maps-child10 {
  position: absolute;
  top: 24rem;
  left: -1.12rem;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkslategray);
  width: 4.5rem;
  height: 2.69rem;
}
.screenshot-monitor-icon16 {
  position: absolute;
  top: 10.25rem;
  left: 1.06rem;
  width: 1.5rem;
  height: 1.5rem;
}
.vector-icon80 {
  position: absolute;
  height: 1.8%;
  width: 1.76%;
  top: 16.35%;
  right: 97%;
  bottom: 81.85%;
  left: 1.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.camera-icon16,
.palette-icon16 {
  position: absolute;
  top: 17rem;
  left: 0.88rem;
  width: 1.88rem;
  height: 1.88rem;
}
.palette-icon16 {
  top: 20.75rem;
  left: 0.69rem;
}
.group-icon85 {
  position: absolute;
  height: 1.8%;
  width: 1.76%;
  top: 29.41%;
  right: 97.22%;
  bottom: 68.79%;
  left: 1.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.assistant-navigation-icon16 {
  position: absolute;
  top: 27.88rem;
  left: 0.69rem;
  width: 1.88rem;
  height: 1.88rem;
}
.backup-icon16,
.cases-icon16,
.connect-without-contact-icon16 {
  position: absolute;
  top: 31.63rem;
  left: 0.88rem;
  width: 1.88rem;
  height: 1.88rem;
}
.backup-icon16,
.cases-icon16 {
  top: 35.38rem;
  left: 0.69rem;
}
.cases-icon16 {
  top: 39.13rem;
  left: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
}
.code-icon22,
.hub-icon16 {
  position: absolute;
  top: 42.5rem;
  left: 0.81rem;
  width: 1.56rem;
  height: 1.56rem;
}
.hub-icon16 {
  top: 45.94rem;
  left: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
}
.vector-icon81 {
  position: absolute;
  height: 1.74%;
  width: 1.66%;
  top: 59.19%;
  right: 97.1%;
  bottom: 39.07%;
  left: 1.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.monetization-on-icon13 {
  position: absolute;
  top: 52.64rem;
  left: 0.88rem;
  width: 1.88rem;
  height: 1.88rem;
}
.lightbulb-icon45,
.send-time-extension-icon16 {
  position: absolute;
  top: 56.39rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.lightbulb-icon45 {
  top: 10.5rem;
  left: 16.63rem;
  width: 0.81rem;
}
.lightbulb-icon46,
.lightbulb-icon47,
.lightbulb-icon48 {
  position: absolute;
  top: 13.63rem;
  left: 16.69rem;
  width: 0.81rem;
  height: 1.5rem;
}
.lightbulb-icon47,
.lightbulb-icon48 {
  top: 16.75rem;
}
.lightbulb-icon48 {
  top: 19.88rem;
}
.lightbulb-icon49,
.lightbulb-icon50,
.lightbulb-icon51,
.lightbulb-icon52 {
  position: absolute;
  top: 23rem;
  left: 16.69rem;
  width: 0.81rem;
  height: 1.5rem;
}
.lightbulb-icon50,
.lightbulb-icon51,
.lightbulb-icon52 {
  top: 26rem;
}
.lightbulb-icon51,
.lightbulb-icon52 {
  top: 29rem;
}
.lightbulb-icon52 {
  top: 32rem;
}
.circle,
.feature-collection,
.line-string,
.maps4,
.marker,
.navigation1,
.polygon,
.rectangle8 {
  position: absolute;
  top: 10.38rem;
  left: 6.44rem;
  font-size: var(--font-size-sm);
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 7.94rem;
  height: 1.75rem;
}
.feature-collection,
.line-string,
.maps4,
.marker,
.navigation1,
.polygon,
.rectangle8 {
  top: 13.5rem;
}
.line-string,
.maps4,
.marker,
.navigation1,
.polygon,
.rectangle8 {
  top: 16.63rem;
}
.maps4,
.marker,
.navigation1,
.polygon,
.rectangle8 {
  top: 19.75rem;
}
.marker,
.navigation1,
.polygon,
.rectangle8 {
  top: 22.88rem;
}
.navigation1,
.polygon,
.rectangle8 {
  top: 25.81rem;
}
.polygon,
.rectangle8 {
  top: 28.81rem;
}
.rectangle8 {
  top: 31.81rem;
}
.image-3-icon16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.69rem;
  height: 53.88rem;
  object-fit: cover;
}
.group-child1183 {
  position: absolute;
  top: 2.94rem;
  left: 0.44rem;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-700);
  width: 23.69rem;
  height: 48.75rem;
}
.image-3-parent14 {
  position: absolute;
  top: 10.13rem;
  left: 21.5rem;
  width: 24.69rem;
  height: 53.88rem;
}
.common-properties16 {
  position: absolute;
  top: 0.31rem;
  left: 1.44rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 8.56rem;
  height: 1.5rem;
}
.common-properties-parent14,
.group-child1184 {
  position: absolute;
  width: 17.75rem;
  height: 2.31rem;
}
.group-child1184 {
  top: 0;
  left: 0;
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.common-properties-parent14 {
  top: 9.25rem;
  left: 67.69rem;
  color: var(--color-gray-1100);
}
.advanced-properties16 {
  position: absolute;
  top: 0.31rem;
  left: 1.44rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 8.19rem;
  height: 1.5rem;
}
.group-child1186 {
  position: absolute;
  top: 1.03rem;
  left: 14.79rem;
  width: 0.41rem;
  height: 0.24rem;
}
.advanced-properties-parent14 {
  position: absolute;
  top: 71.38rem;
  left: 67.69rem;
  width: 17.75rem;
  height: 2.31rem;
  color: var(--color-gray-1100);
}
.about-screen16 {
  position: absolute;
  top: 0.38rem;
  left: 0.69rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 5.94rem;
  height: 1.5rem;
}
.about-screen-parent14,
.group-child1187 {
  position: absolute;
  width: 15.38rem;
  height: 2.38rem;
}
.group-child1187 {
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.about-screen-parent14 {
  top: 12.5rem;
  left: 68.88rem;
}
.title-bar-subtitle16 {
  position: absolute;
  top: 0.38rem;
  left: 0.69rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 8.38rem;
  height: 1.5rem;
}
.group-child1189,
.title-bar-subtitle-parent14 {
  position: absolute;
  width: 15.38rem;
  height: 2.38rem;
}
.title-bar-subtitle-parent14 {
  top: 66.56rem;
  left: 68.69rem;
}
.group-child1189 {
  top: 0.81rem;
  left: 0;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.group-child1190,
.group-child1191 {
  position: absolute;
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 11rem;
  height: 0.69rem;
}
.group-child1191 {
  top: 1.5rem;
  left: 0.44rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  width: 0.94rem;
  height: 0.94rem;
}
.about-screen-background16,
.ffffff0016 {
  position: absolute;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: 1.5rem;
}
.ffffff0016 {
  top: 1.13rem;
  left: 1.75rem;
  width: 5.38rem;
}
.about-screen-background16 {
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-1100);
  width: 10.81rem;
}
.group-child1193,
.rectangle-parent97 {
  position: absolute;
  top: 15.31rem;
  left: 68.88rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1193 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.44rem;
  height: 0.69rem;
}
.background-colour32,
.ffffffff16 {
  position: absolute;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: 1.5rem;
}
.ffffffff16 {
  top: 1.25rem;
  left: 1.69rem;
  width: 4.88rem;
}
.background-colour32 {
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-1100);
  width: 7rem;
}
.group-child1194 {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 0.94rem;
  height: 0.94rem;
}
.group-child1196,
.rectangle-parent98 {
  position: absolute;
  top: 31.5rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1196 {
  top: 1.5rem;
  left: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 0.94rem;
  height: 0.94rem;
}
.background-colour33 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 6.44rem;
  height: 1.5rem;
}
.rectangle-parent99 {
  position: absolute;
  top: 42.56rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.about-this-application16 {
  position: absolute;
  top: 1.19rem;
  left: 1rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 11.06rem;
  height: 1.5rem;
}
.group-child1199 {
  position: absolute;
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.25rem;
  height: 0.69rem;
}
.about-this-application-parent14 {
  position: absolute;
  top: 20.44rem;
  left: 68.88rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1201,
.group-child1202 {
  position: absolute;
  top: 1.93rem;
  left: 13.79rem;
  width: 0.41rem;
  height: 0.24rem;
}
.group-child1202 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 5.44rem;
  height: 0.69rem;
}
.align-horizontal16 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 5.56rem;
  height: 1.5rem;
}
.center-3-parent14,
.group-child1205 {
  position: absolute;
  top: 24.13rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1205 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 4.63rem;
  height: 0.69rem;
}
.center-2-parent14,
.group-child1208 {
  position: absolute;
  top: 27.81rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1208 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 8rem;
  height: 0.69rem;
}
.close-screen-animation16 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 7.81rem;
  height: 1.5rem;
}
.default-parent46,
.group-child1211 {
  position: absolute;
  top: 38.88rem;
  left: 68.88rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1211 {
  top: 0.44rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 8rem;
  height: 0.69rem;
}
.open-screen-animation16 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 7.69rem;
  height: 1.5rem;
}
.default-parent47,
.group-child1214 {
  position: absolute;
  top: 46.25rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1214 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.31rem;
  height: 0.69rem;
}
.screen-orientation16 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 6.31rem;
  height: 1.5rem;
}
.group-child1217,
.portrait-parent14 {
  position: absolute;
  top: 49.94rem;
  left: 68.94rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1217 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 1.69rem;
  height: 0.69rem;
}
.title16 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 1.75rem;
  height: 1.5rem;
}
.group-child1220,
.splash-screen-parent14 {
  position: absolute;
  top: 59.19rem;
  left: 68.69rem;
  width: 15.38rem;
  height: 3.19rem;
}
.group-child1220 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 7.88rem;
  height: 0.69rem;
}
.default-parent48,
.none32 {
  position: absolute;
  top: 62.88rem;
  left: 68.69rem;
  width: 15.38rem;
  height: 3.19rem;
}
.none32 {
  top: 1.19rem;
  left: 1rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 2.94rem;
  height: 1.5rem;
}
.group-child1222 {
  position: absolute;
  top: 1.93rem;
  left: 9.04rem;
  width: 0.41rem;
  height: 0.24rem;
}
.cloud-download-icon32,
.group-child1223 {
  position: absolute;
  top: 1.44rem;
  left: 11.19rem;
  width: 1.31rem;
  height: 1.31rem;
}
.group-child1223 {
  top: 1.28rem;
  left: 10.31rem;
  border-right: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 0.06rem;
  height: 1.63rem;
}
.bubble-icon32,
.group-child1224 {
  position: absolute;
  top: 1.44rem;
  left: 13.69rem;
  width: 1.25rem;
  height: 1.25rem;
}
.group-child1224 {
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 6.56rem;
  height: 0.69rem;
}
.background-image16 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 6.56rem;
  height: 1.5rem;
}
.none-parent30,
.none33 {
  position: absolute;
  top: 35.19rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.none33 {
  top: 1.19rem;
  left: 1rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 2.63rem;
  height: 1.5rem;
}
.group-child1228 {
  position: absolute;
  top: 0.38rem;
  left: 1.63rem;
  background-color: var(--color-gray-900);
  width: 9.38rem;
  height: 0.69rem;
}
.title-bar-typeface16 {
  position: absolute;
  top: 0;
  left: 1.81rem;
  font-size: var(--font-size-2xs);
  line-height: 3.59rem;
  font-weight: 300;
  color: var(--color-gray-1100);
  display: flex;
  align-items: center;
  width: 9.38rem;
  height: 1.5rem;
}
.none-parent31 {
  position: absolute;
  top: 78rem;
  left: 68.81rem;
  width: 15.38rem;
  height: 3.19rem;
}
.about-screen-light16 {
  position: absolute;
  top: 0;
  left: 1.31rem;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 10.38rem;
  height: 1.5rem;
}
.group-child1229 {
  position: absolute;
  top: 0.38rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 0.81rem;
  height: 0.81rem;
}
.about-screen-light-theme-parent14 {
  position: absolute;
  top: 18.81rem;
  left: 68.88rem;
  width: 11.69rem;
  height: 1.5rem;
  font-size: var(--font-size-2xs);
}
.group-child1230 {
  position: absolute;
  top: 0.38rem;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 0.81rem;
  height: 0.81rem;
}
.scrollable-parent14,
.show-option-menu-parent14,
.show-status-bar-parent14 {
  position: absolute;
  top: 53.56rem;
  left: 68.88rem;
  width: 11.69rem;
  height: 1.5rem;
  font-size: var(--font-size-2xs);
}
.show-option-menu-parent14,
.show-status-bar-parent14 {
  top: 55.38rem;
}
.show-status-bar-parent14 {
  top: 57.19rem;
}
.high-quality-images-parent14,
.keep-screen-on-parent14,
.title-visible-parent14 {
  position: absolute;
  top: 69.25rem;
  left: 69.13rem;
  width: 11.69rem;
  height: 1.5rem;
  font-size: var(--font-size-2xs);
}
.high-quality-images-parent14,
.keep-screen-on-parent14 {
  top: 74.19rem;
  left: 68.88rem;
}
.keep-screen-on-parent14 {
  top: 76rem;
}
.maps-child11 {
  position: absolute;
  top: 5.63rem;
  left: 0;
  background-color: var(--color-slategray-200);
  width: 85.38rem;
  height: 0.25rem;
}
.maps-child12 {
  position: absolute;
  top: 10.44rem;
  left: 4.13rem;
  width: 1.88rem;
  height: 23.31rem;
}
.maps3 {
  position: relative;
  background-color: var(--color-gray-700);
  width: 100%;
  height: 83.31rem;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
