.signuppageinitial-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-blueviolet);
  width: 50%;
  height: 100%;
}
.signuppageinitial-item {
  position: absolute;

  top: 27%;
  left: 11%;
  width: 35%;
  height: 62%;
}
.signuppageinitial-inner {
  position: absolute;
  top: 9%;
  left: 6%;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 88%;
  height: 80%;
}
.buildmyflow42,
.hey-there1,
.sign-up2 {
  position: absolute;
  top: 4%;
  left: 5%;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 5.4%;
  height: 3%;
}
.hey-there1,
.sign-up2 {
  left: 73%;
  font-size: var(--font-size-8xl);
  width: 7.75rem;
  height: 1.63rem;
}
.hey-there1 {
  top: 10%;
  left: 73.4%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  width: 7.94rem;
}
.emailInput {
  position: absolute;
  top: 34%;
  left: 59%;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 34%;
  height: 10.5%;
  background-color: var(--color-gray-1000);
  color: aliceblue;
}
.group-child1259
input.emailInput {
  outline: none;
  color: aliceblue;
}
.remember-me1 {
  position: absolute;
  top: 62%;
  left: 61%;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 6.31rem;
  height: 1rem;
}
.group-child1249 {
  position: absolute;
  top: 0;
  left: 59%;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet);
  width: 37.3%;
  height: 11%;
  border: none;
}
.sign-up3 {
  position: absolute;
  top: 1rem;
  left: 4.13rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.19rem;
  height: 1rem;
}
.already-have-a1,
.rectangle-parent135 {
  position: absolute;
  top: 69%;
  left: 71%;
  width: 11.56rem;
  height: 3.13rem;
  cursor: pointer;
  font-size: var(--font-size-mini);
}
.rectangle-parent135 {
  background-color: white ;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: var(--font-lexend-deca);
  color: black;
  font-weight: var(--font-size-xl);
}
.rectangle-parent135:hover {
  background-color: var(--color-blueviolet);
  color: aliceblue;
}
.already-have-a1 {
  top: 96%;
  left: 69.5%;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 17rem;
  height: 1rem;
}
.signuppageinitial-child2 {
  position: absolute;
  top: 15.19rem;
  left: 48.31rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 27.94rem;
  height: 3.63rem;
}
.group-child1250 {
  position: absolute;
  top: 0.44rem;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 14.81rem;
  height: 0.69rem;
}
.enter-your-email1 {
  position: absolute;
  top: 0;
  left: 0.31rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 14.5rem;
  height: 1rem;
}
.rectangle-parent136 {
  position: absolute;
  top: 37.5%;
  left: 61%;
  width: 10.5%;
  height: 1.13rem;
  cursor: pointer;
}
.initial-image {
  content: url('./public/group-2081.svg');
}
.updated-image {
  content: url('./public/group-208.svg');
}
.passwordInput {
  position: absolute;
  top: 47%;
  left: 59%;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 34%;
  height: 10.5%;
  background-color: var(--color-gray-1000);
  color: aliceblue;
}

input.passwordInput {
  outline: none;
}
.username {
  position: absolute;
  top: 25%;
  left: 61%;
  width: 10.3%;
  height: 1.13rem;
  cursor: pointer;
}
input.username {
  outline: none;
}
.usernameinput{
  position: absolute;
  top: 22%;
  left: 59%;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 34%;
  height: 10.5%;
  background-color: var(--color-gray-1000);
  color: aliceblue;
}
.group-child1252 {
  position: absolute;
  top: 0.44rem;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 9.56rem;
  height: 0.69rem;
}
.enter-your-password1 {
  position: absolute;
  top: 3px;
  left: 0.31rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 9.06rem;
  height: 1rem;
}
.rectangle-parent138 {
  position: absolute;
  top: 50%;
  left: 61%;
  width: 11%;
  height: 1.13rem;
  cursor: pointer;
}
.vector-icon111 {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 49.76%;
  left: 89.26%;
}
.rectangle-parent137 {
  position: absolute;
  top: 50%;
  left: 59%;
  width: 27.94rem;
  height: 3.63rem;
}
.continue-with1,
.github1,
.google5 {
  position: absolute;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.69rem;
}
.continue-with1 {
  top: 29.25rem;
  left: 60.38rem;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.05em;
  line-height: 1rem;
  text-align: center;
  width: 7.06rem;
}
.github1,
.google5 {
  line-height: 3.59rem;
  width: 3.56rem;
}
.google5 {
  top: -12%;
  width: fit-content;
  left: 38%;
  height: fit-content;
  font-family: var(--font-lexend-deca);
  font-size: var(--font-size-base);
  font-weight: 500;
}
.github1 {
  top: 1.69rem;
  left: 5.25rem;
}
.vector-icon112,
.vector-icon113 {
  position: absolute;
  height: 62.09%;
  width: fit-content;
  height: fit-content;
  top: 0;
  right: 71.17%;
  bottom: 38.91%;
  left: 12.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.vector-icon112 {
  background-color:transparent;
  border: none;
  outline: none;
  top: 23%;
}
.vector-icon112-child {
  position: absolute;
  height: 61.09%;
  width: 16.07%;
  cursor: pointer;
}
.vector-icon113 {
  height: 59.66%;
  width: 16.49%;
  right: 11.88%;
  bottom: 40.34%;
  left: 71.63%;
}
.group1{
  position: absolute;
  top: 86%;
  left: 73%;
  width: 12%;
  height: 8%;
  text-align: center;
  font-size: var(--font-size-2xs);
  background-color: transparent;
  cursor: pointer;
}
.group1:hover {
  border-radius: 3px;
  background-color: var(--color-blueviolet);
}
.or1 {
  position: absolute;
  text-align: center;
  font-size: var(--font-size-2xs);
  width: 2%;
  height: 4%;
  top: 81%;
  left: 76.5%;
  letter-spacing: 0.05em;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 1.06rem;
}
.signuppageinitial {
  position: absolute;
  background-color: var(--color-gray-1000);
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}

