.signuppageinitial-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-blueviolet);
  width: 42.94rem;
  height: 52.25rem;
}
.signuppageinitial-item {
  position: absolute;
  top: 11.5rem;
  left: 6.69rem;
  width: 27.63rem;
  height: 26rem;
}
.signuppageinitial-inner {
  position: absolute;
  top: 3.06rem;
  left: 5.56rem;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 74.19rem;
  height: 37.88rem;
}
.buildmyflow42,
.hey-there1,
.sign-up2 {
  position: absolute;
  top: 4.31rem;
  left: 8.13rem;
  font-size: var(--font-size-xl);
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 8.19rem;
  height: 1.06rem;
}
.hey-there1,
.sign-up2 {
  top: 6.69rem;
  left: 58.44rem;
  font-size: var(--font-size-8xl);
  width: 7.75rem;
  height: 1.63rem;
}
.hey-there1 {
  top: 9rem;
  left: 58.60rem;
  font-size: var(--font-size-xl);
  font-weight: 500;
  width: 7.94rem;
}
.signuppageinitial-child1 {
  position: absolute;
  top: 15.19rem;
  left: 48.31rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 27.94rem;
  height: 3.63rem;
  background-color: var(--color-gray-1000);
}
input.signuppageinitial-child1 {
  outline: none;
  color: aliceblue;
}
.remember-me1 {
  position: absolute;
  top: 26.94rem;
  left: 50.5rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 6.31rem;
  height: 1rem;
}
.group-child1249 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet);
  width: 11.56rem;
  height: 3.13rem;
  border: none;
}
.sign-up3 {
  position: absolute;
  top: 1rem;
  left: 4.13rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 4.19rem;
  height: 1rem;
}
.already-have-a1,
.rectangle-parent135 {
  position: absolute;
  top: 34.38rem;
  left: 57.88rem;
  width: 11.56rem;
  height: 3.13rem;
  cursor: pointer;
  font-size: var(--font-size-mini);
}
.rectangle-parent135 {
  background-color: white ;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: var(--font-lexend-deca);
  color: black;
  font-weight: var(--font-size-xl);
}
.rectangle-parent135:hover {
  background-color: var(--color-blueviolet);
  color: aliceblue;
}
.already-have-a1 {
  top: 38.56rem;
  left: 54.99rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  display: flex;
  align-items: center;
  width: 17rem;
  height: 1rem;
}
.signuppageinitial-child2 {
  position: absolute;
  top: 15.19rem;
  left: 48.31rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 27.94rem;
  height: 3.63rem;
}
.group-child1250 {
  position: absolute;
  top: 0.44rem;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 14.81rem;
  height: 0.69rem;
}
.enter-your-email1 {
  position: absolute;
  top: 0;
  left: 0.31rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 14.5rem;
  height: 1rem;
}
.rectangle-parent136 {
  position: absolute;
  top: 16.44rem;
  left: 49.38rem;
  width: 14.81rem;
  height: 1.13rem;
  cursor: pointer;
}
.initial-image {
  content: url('./public/group-2081.svg');
}
.updated-image {
  content: url('./public/group-208.svg');
}
.group-child1251 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 27.94rem;
  height: 3.63rem;
  background-color: var(--color-gray-1000);
}
input.group-child1251 {
  outline: none;
  color: aliceblue;
}
.group-child1252 {
  position: absolute;
  top: 0.44rem;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 9.56rem;
  height: 0.69rem;
}
.enter-your-password1 {
  position: absolute;
  top: 0;
  left: 0.31rem;
  letter-spacing: 0.05em;
  line-height: 3.59rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 9.06rem;
  height: 1rem;
}
.rectangle-parent138 {
  position: absolute;
  top: 1.13rem;
  left: 1.38rem;
  width: 9.56rem;
  height: 1.13rem;
  cursor: pointer;
}
.vector-icon111 {
  position: absolute;
  height: 34.48%;
  width: 5.59%;
  top: 32.76%;
  right: 5.15%;
  bottom: 32.76%;
  left: 89.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent137 {
  position: absolute;
  top: 21.5rem;
  left: 48.31rem;
  width: 27.94rem;
  height: 3.63rem;
}
.continue-with1,
.github1,
.google5 {
  position: absolute;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.69rem;
}
.continue-with1 {
  top: 29.25rem;
  left: 60.38rem;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.05em;
  line-height: 1rem;
  text-align: center;
  width: 7.06rem;
}
.github1,
.google5 {
  line-height: 3.59rem;
  width: 3.56rem;
}
.google5 {
  top: 1.63rem;
  left: 0;
}
.github1 {
  top: 1.69rem;
  left: 5.25rem;
}
.vector-icon112,
.vector-icon113 {
  position: absolute;
  height: 61.09%;
  width: 16.07%;
  top: 0;
  right: 71.17%;
  bottom: 38.91%;
  left: 12.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon113 {
  height: 59.66%;
  width: 16.49%;
  right: 11.88%;
  bottom: 40.34%;
  left: 71.63%;
}
.group1,
.or1 {
  position: absolute;
  top: 30.63rem;
  left: 59.25rem;
  width: 8.81rem;
  height: 2.38rem;
  text-align: center;
  font-size: var(--font-size-2xs);
}
.or1 {
  top: 28rem;
  left: 62.06rem;
  letter-spacing: 0.05em;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 1.06rem;
}
.signuppageinitial {
  position: relative;
  background-color: var(--color-gray-1000);
  width: 100%;
  height: 45.94rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
